@CHARSET "UTF-8";

body{
font-family: Tahoma;
background-color: #8888FF;

}
#all{
width: 770px;
background-color: #FFFFFF;
margin:auto;

}
#head{
height:100px;
border:1px solid blue;

}

#nav{
width:75px;
float: left;
}
#foot{
clear:both;

}


#content{
width:690px;
float: left;
}